# Application
APP_NAME="NexusDocs AI"
APP_ENV=development
APP_DEBUG=true

# Gemini
GEMINI_API_KEY=

# Embeddings
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_VECTOR_SIZE=384

# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=nexusdocs
